:root {
  --font-sans:-apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo",system-ui,sans-serif;
  --font-size:0.875rem;
  --letter-spacing:-0.01em;

  --pattern-dark:url('data:image/webp;base64,UklGRjAAAABXRUJQVlA4TCMAAAAvF8AFAA/wiJlHzDxiZv7jAYTZRjM4f8sz2H8EEf0PbuAIAAA=');
  --pattern-light:url('data:image/webp;base64,UklGRjAAAABXRUJQVlA4TCMAAAAvF8AFAA9w9/e7v9/9ff4DD4TZRjM4f8sz2H8EEf0PbuAIAAA=');

  background-color: #000;

  color: #fff;
  font-family: var(--font-sans);
  letter-spacing: var(--letter-spacing);
}

body {
  margin: 0 auto;
  max-width: 100%;
  min-height: 100%;

  overflow-x: hidden;
}

button,
input {
  font-family: var(--font-sans);
}

a,
label {
  color: #bdf;
  text-decoration: underline;

  cursor: pointer;
}

a:hover,
label:hover {
  text-decoration: none;
}

.conf {
  display: none;
}

#app {
  --column-count-selected:1;
  --column-count-max:4;
  --column-count:clamp(1,var(--column-count-selected),var(--column-count-max));

  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100%;
}
#pattern-dark:checked ~ #app {
  --bg-transparent:var(--pattern-dark);
}
#pattern-light:checked ~ #app {
  --bg-transparent:var(--pattern-light);
}

header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;

  flex: 0 0 3rem;

  display: flex;
  justify-content: space-between;
  align-items: stretch;

  box-sizing: border-box;
  padding: 0 1rem;
  width: 100%;
  height: 3rem;
  background-color: #000;
}

header h1 {
  flex: 1 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 0;

  line-height: 1.4;
  font-size: calc(0.9375 * var(--font-size));
  font-weight: 400;

  overflow: hidden;
}

.button-menu {
  flex: 0 0 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  font-size: calc(0.9375 * var(--font-size));

  cursor: pointer;
}

menu {
  position: sticky;
  top: 3rem;
  right: 0;
  left: 0;

  display: none;

  box-sizing: border-box;
  margin: 0;
  padding: 0 1rem 1rem;
  width: 100%;
  background-color: #000;

  list-style: none;

  font-size: calc(0.9375 * var(--font-size));
}
#menu-open:checked ~ #app menu {
  display: flex;
  flex-direction: column;
}

menu > li {
  display: flex;
  align-items: flex-start;
}

menu > li > * {
  min-height: 2.5rem;
}

menu > li > div {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-right: 1rem;
}

menu .config-zoom .sm,
menu .config-zoom .md,
menu .config-zoom .lg {
  display: none;
}

menu ul {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

menu label {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 0 0.75rem;
  height: 2.5rem;
}

menu .config-pattern label {
  padding: 0.25rem;
  width: 2.5rem;
  font-size: 0;
  background-clip: content-box;
  background-origin: content-box;
  background-size: 50%;
}
label[for="pattern-dark"] {
  background-image: var(--pattern-dark);
}
label[for="pattern-light"] {
  background-image: var(--pattern-light);
}

main {
  flex: 1 0;

  display: grid;
  grid-template-columns: repeat(var(--column-count), calc(100% / var(--column-count)));
  gap: 0.5rem 0;
}
#column-count-1:checked ~ #app {
  --column-count-selected:1;
}
#column-count-2:checked ~ #app {
  --column-count-selected:2;
}
#column-count-3:checked ~ #app {
  --column-count-selected:3;
}
#column-count-4:checked ~ #app {
  --column-count-selected:4;
}
#column-count-5:checked ~ #app {
  --column-count-selected:5;
}
#column-count-6:checked ~ #app {
  --column-count-selected:6;
}
#column-count-7:checked ~ #app {
  --column-count-selected:7;
}
#column-count-8:checked ~ #app {
  --column-count-selected:8;
}
#column-count-9:checked ~ #app {
  --column-count-selected:9;
}
#column-count-10:checked ~ #app {
  --column-count-selected:10;
}

article {
  box-sizing: border-box;
  border: 0.5rem solid #222;
  background-color: #222;
}

h2 {
  margin: 0 0 0.25rem;
  width: 100%;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: clip;
  font-size: var(--font-size);
  font-weight: 400;
}

article div {
  padding-bottom: calc(100% / var(--w, 16) * var(--h, 9));

  background-color: #666;
  background-image: var(--i, none), var(--bg-transparent);
  background-position: center;
  background-repeat: no-repeat, repeat;
  background-size: contain, auto;
}

article div.hydrated {
  --i:none;

  padding: 0;
}

article div * {
  display: none;
}

article div.hydrated img {
  display: block;
  width: 100%;
  height: auto;

  object-fit: contain;
}

footer {
  flex: 0 0;

  text-align: center;
  font-size: calc(0.8125 * var(--font-size));

  opacity: 0.6;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  box-sizing: border-box;
  margin: 0;
  padding: 2rem 1rem;

  list-style: none;
  line-height: 1;
}

@media (min-width: 375px) {
  #app {
    --column-count-max:6;
  }

  menu .config-zoom .sm {
    display: flex;
  }
}

@media (min-width: 540px) {
  :root {
    --letter-spacing:normal;
  }

  #app {
    --column-count-max:8;
  }

  menu .config-zoom .md {
    display: flex;
  }
}

@media (min-width: 720px) {
  :root {
    --font-size:0.9375rem;
  }

  #app {
    --column-count-max:10;
  }

  menu .config-zoom .lg {
    display: flex;
  }
}

@media (min-width: 960px) {
  :root {
    --font-size:1rem;
  }

}
